<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>价值投资</title>
</head>

<body>
    <h1>海归精英</h1>
    <!-- <h2>基本信息</h2> -->
    <!-- <p>姓名 张勇</p> -->
    <br>
    <p><span id=bornYear>1992</span>
        年男生，身高<span id=bodyHeight>175</span>cm
        体重<span id=bodyWeight>63</span>kg</p>
    <p>纽约大学应用数学专业，一年工作<span id=workDayNum>183 </span>天，日薪<span id=dailyEarn>3000</span>，年薪年薪 <span
            id=yearEarn>估算中...</span> W。老家有风景房<span id=apartmentNum>2</span> 套，<span id=floorNum>2</span>层别墅<span
            id=houseNum>1</span>套，还有一辆保时捷<span id=car>911</span>代步。资产总值超过 <span id=totalMoney>估算中...</span> W
    </p>





    <p>持有 <span id=bitcoinNum>11</span> 个比特币， <span id=dogecoinNum>60000</span> 个狗狗币</p>
    <p>老家有房 <span id=apartmentNum>2</span> 套， <span id=houseNum>1</span> 套别墅 <span id=floorNum>2</span> 层，还有一辆保时捷
        <span id=car>911</span>
    </p>
    <p>资产总值 <span id=totalMoney>估算中...</span> W</p>

    <h2>兴趣爱好</h2>
    <p>余下时间在家发展爱好，偶尔环游中国，每年保证 <span id=tripNum>2</span> 次出国旅行。</p>
    <p>无不良嗜好</p>

    <h2>择偶标准</h2>
    <p>希望另一半本科及以上学历</p>
    <p>性别不限</p>
    <p>身高 <span id=companionHeight>165</span> cm以上</p>
    <p>体重不超 <span id=companionWeight>50000</span> g</p>
    <p>颜值 <span id=compainScore>7</span> 分以上可不超 <span id=companionWeightLimit> 57000 </span> g</p>



    <script src="/script.js"></script>
</body>


</html>